body {
    width: 100%; 
    max-width: 1440px;
    min-height: 810px;  
    margin:30px; 
    
}


.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:40px;
}

.list  {
    display: flex;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
     
        
}

.list a{
    margin: 10px;
    text-decoration: none;
}

.list a:hover {
    background-color: #95D5B2;
    color: black;
  }

.logo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: #242635;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin:40px;
}

.heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 102px;
    letter-spacing: -2px;
    color: #242635;
    text-align: center;

}

.main-text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #242635;
    width: 100%;
    max-width: 573px; 
}

 .image {
    margin:50px ;
    width:100%;
    max-width:860px; 
} 

@media screen and (max-width:1400px) {
    .heading {
        font-size: 90px;
    }
    .main-text{
        font-size: 22px;
    }
    
}

@media screen and (max-width:768px) {
    .heading {
        font-size:72px;
    }
    .main-text {
        font-size: 22px;
    }
     
} 

@media screen and (max-width:400px) {
    .heading {
        font-size:36px;
    }
    .main-text {
        font-size: 12px;
        line-height: 18px;
    }
    
}

 /* @media  screen and (max-width:1000px) {
    .image {
        background-image:url('images\Bitmap1.jpg');
    }     
} 

@media  screen and (max-width:800px) {
    .image {
        background-image:url('images\Bitmap2.png');
    }
    
}

 @media screen and (min-width:1001px) {
    .image {
        background-image:url('images\Bitmap.png');
    }  
    
}      */


 





 

